{{ set(this, 'title', 'Reset password') }}

<div class="card card-register">
    <h3 class="title mx-auto text-center">{{ this.title }}</h3>
    {% set form = active_form_begin({'id' : 'reset-password-form', 'class' : 'register-form'}) %}

    {{ form.field(model, 'password').passwordInput({'autofocus' : true}) | raw }}

    <button type="submit" class="btn btn-danger btn-block btn-round">Save</button>

    {{ active_form_end() }}
</div>